In [7]:
lloyd = {
    "name": "Lloyd",
    "homework": [90.0, 97.0, 75.0, 92.0],
    "quizzes": [88.0, 40.0, 94.0],
    "tests": [75.0, 90.0]
}
alice = {
    "name": "Alice",
    "homework": [100.0, 92.0, 98.0, 100.0],
    "quizzes": [82.0, 83.0, 91.0],
    "tests": [89.0, 97.0]
}
tyler = {
    "name": "Tyler",
    "homework": [0.0, 87.0, 75.0, 22.0],
    "quizzes": [0.0, 75.0, 78.0],
    "tests": [100.0, 100.0]
}

# 아래에 함수를 작성하세요!
def average(n):
    sum = 0
    for i in n:
        sum += i
    return sum / len(n)

students = [lloyd, alice, tyler]

def get_average(students):
    return average(students.get("homework"))*0.1 + average(students.get("quizzes"))*0.3 + average(students.get("homework"))*0.6

In [12]:
tyler = {
    "name": "Tyler",
    "homework": [0.0, 87.0, 75.0, 22.0],
    "quizzes": [0.0, 75.0, 78.0],
    "tests": [100.0, 100.0]
}
def average(n):
    sum = 0
    for i in n:
        sum += i
    return sum / len(n)
average(tyler.get("homework"))

46.0

In [13]:
lloyd = {
    "name": "Lloyd",
    "homework": [90.0, 97.0, 75.0, 92.0],
    "quizzes": [88.0, 40.0, 94.0],
    "tests": [75.0, 90.0]
}
alice = {
    "name": "Alice",
    "homework": [100.0, 92.0, 98.0, 100.0],
    "quizzes": [82.0, 83.0, 91.0],
    "tests": [89.0, 97.0]
}
tyler = {
    "name": "Tyler",
    "homework": [0.0, 87.0, 75.0, 22.0],
    "quizzes": [0.0, 75.0, 78.0],
    "tests": [100.0, 100.0]
}

# 아래에 함수를 작성하세요!
def average(n):
    sum = 0
    for i in n:
        sum += i
    return sum / len(n)

students = [lloyd, alice, tyler]

def get_average(students):
    home_ave = average(students.get("homework"))
    quiz_ave = average(students.get("quizzes"))
    test_ave = average(students.get("test"))
    total_ave = home_ave*0.1 + quiz_ave*0.3 + test_ave*0.6
    
    return total_ave

In [14]:
get_average(lloyd)

TypeError: 'NoneType' object is not iterable

In [19]:
board = []
for i in board:
    board.append(i*5)

In [20]:
board

[]

In [21]:
#nums = [1, 4, 3, 5]
nums = [1, 3, 5,]
position = 0
while position < len(nums):
    number = nums[position]
    
    if number % 2 == 0:
        print 'even number'
        break
        
    position += 1
else:
    print 'no even number'

no even number

In [22]:
nums = [1, 3, 2, 5, 4, 6, 7, 9, 8]
pos = 0
while pos < len(nums):
    print nums[pos]
    pos += 1

1
3
2
5
4
6
7
9
8

In [23]:
str = 'hello world'
for i in str.split(" "):
    print i

hello
world

In [24]:
capitals = {'korea' : 'seoul', 'japan' : 'tokyo', 'usa' : 'Washington D.C'}
for country in capitals:
    print country, capitals[country]

japan tokyo
korea seoul
usa Washington D.C

In [28]:
capitals["korea"]

'seoul'

In [31]:
capitals.keys()

['japan', 'korea', 'usa']

In [34]:
capitals.items()

[('japan', 'tokyo'), ('korea', 'seoul'), ('usa', 'Washington D.C')]

In [36]:
for key in capitals.keys():
    print key
    
for values in capitals.values():
    print values
    
for k,v in capitals.items():
    print k,v

japan
korea
usa
tokyo
seoul
Washington D.C
japan tokyo
korea seoul
usa Washington D.C

In [39]:
nums = [1, 3, 2, 5, 4, 6, 7, 9, 8]

for i, val in enumerate(nums):
    print 'value at index', i, 'is', val

value at index 0 is 1
value at index 1 is 3
value at index 2 is 2
value at index 3 is 5
value at index 4 is 4
value at index 5 is 6
value at index 6 is 7
value at index 7 is 9
value at index 8 is 8

In [41]:
a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45]

min = a[0]

for i in a:
    if min < i:
        min = i
print min

1

In [47]:
a = range(1,1001)
b = []

[ for i in a if i % ]

TypeError: 'builtin_function_or_method' object has no attribute '__getitem__'

In [3]:
n = 10

if n > 5:
    data = "big"
else:
    data = "mini"
    
data

'big'

In [4]:
data = "big" if n > 10 else "mini"

In [5]:
data

'mini'

In [9]:
data = "big" if n>5 else "mini"

In [10]:
data

'big'

SyntaxError: invalid syntax (<ipython-input-12-88158e7c91b6>, line 2)

In [13]:
def double(x):
    return x**2
double(10)

100

In [16]:
fp = open("hello.txt","w") # file pointer

In [17]:
fp.write("hello world")

In [18]:
fp.close()

In [31]:
fp = open("hello.txt","r")

In [32]:
fp.read()

'hello world'

In [33]:
fp.close()

In [35]:
data

'hello world'

In [49]:
fp = open("../bb.txt", "r")

IOError: [Errno 2] No such file or directory: '../bb.txt'